

<%= link_to_remote("update content",
                   :update=>'content',
                   :url => {:action => :update_content} ) %>

<br>
<div id="content">
The brown fox jump over the bar
</div>
<br>
