<configuration>
<configSections>
   <section name="ProgramInfo" 
     type="ConfigSectionHandler.ConfigSectionHandler, ConfigSectionHandler" />
</configSections>
<ProgramInfo type="ConfigSectionObjects.ProgramInfo, ConfigSectionObjects">
  <Name>ConfigSectionDemo</Name>
  <Language>C#</Language>
  <Level>Intermediate</Level>
</ProgramInfo> 
</configuration>
