<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity
                    name="MyComponent"
                    publicKeyToken="e9a7558f120859c8"
                    culture="neutral" />
                <bindingRedirect
                    oldVersion="1.0.0.2"
                    newVersion="1.0.0.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
