<div class="toolbar">
    <h1 id="pageTitle"></h1>
    <a id="backButton" class="button" href="#"></a>
    <a class="button" href="#about">?</a>
	<img src='iui/loading.gif' id='loading' style='display: none'></img>
</div>
<ul id="home" title="Directory" selected="true">
	<li>
		<input id='search' class='input-message' type='search' value='search by typing last name'></input>
	</li>
</ul>
<div id='about' title='About' class='panel'>
	<p>People information is from the Merck Directory and is refreshed daily.</p>
	<p>Visit the official Merck Directory Website @ <a href='http://directory.merck.com'>directory.merck.com</a></p>
</div>