.panel > ul 
{
	padding: 0px;
	margin: 0px 0px;
	margin-right: 10px;
	background-color: white;
	-webkit-border-radius: 8px;
	border: 1px solid rgb(217,217,217);
}

.panel > ul > li 
{
	/* line-height: 17px;*/
	list-style-type: none;
	color:black;
	border-bottom: 1px rgb(217,217,217) solid;
	padding: 10px 10px 17px 10px;
	-webkit-tap-highlight-color: cornflowerblue;
}