<!-- mockup search test -->
<ul id="searchresults" title="Search Results" selected="true">
  <li class="group">B</li>
  <li><a href="#BuckleyRobert">Buckley, Robert</a></li>

  <li><a href="#BarnesMichael">Barnes, Michael</a></li>
  <li class="group">C</li>
  <li><a href="#CollierChristoper">Collier, Christopher J.</a></li>
</ul>
